<launch>
    <include file="$(find pointcloud_to_image)/launch/ptcl_to_img.launch">
    </include>
    <node pkg="tunnel_traversal" type="tunnel_traversal_navigation.py" name="tunnel_traversal_node"
        output="screen">
        <param name="toggle_topic" value="/toggle_navigation" type="str" />
        <param name="image_topic" value="/lidar_image" type="str" />
        <param name="velocity_topic" value="/cmd_vel" type="str" />
    </node>
</launch>